<app-hero></app-hero>
<app-sub-hero-left
  title="Nikmati di TV-mu"
  description="Tonton di Smart TV, Playstation, Xbox, Chromecast, Apple TV, pemutar Blu-ray, dan banyak lagi."
  images="/aset1.png"
></app-sub-hero-left>

<app-sub-hero
  title="Download acara TV untuk menontonnya secara offline"
  description="Simpan favoritmu dengan mudah agar selalu ada acara TV dan film yang bisa ditonton."
  images="/aset2.jpg"
></app-sub-hero>
<app-sub-hero-left
  title="Tonton di mana pun"
  description="Streaming film dan acara TV tak terbatas di ponsel, tablet, laptop, dan TV-mu."
  images="/aset3.png"
></app-sub-hero-left>
<app-sub-hero
  title="Buat profil untuk anak"
  description="Kirim anak-anak untuk bertualang bersama karakter favorit mereka di dunia yang dibuat khusus untuk mereka—gratis dengan keanggotaanmu."
  images="/aset4.png"
></app-sub-hero>
<div class="bg-black">
  <app-faq></app-faq>
</div>
