<footer
  class="flex flex-col bg-black text-neutral-content px-4 lg:px-[400px] py-10 mt-2"
>
  <div>
    <p>
      Ada pertanyaan? Hubungi <span class="underline">007-803-321-2148</span>
    </p>
  </div>
  <div class="footer mt-4">
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover underline">Tanya Jawab</a>
      <a class="link link-hover underline">Akun</a>
      <a class="link link-hover underline">Hubungan Investor</a>
      <a class="link link-hover underline">Cara Menonton</a>
      <a class="link link-hover underline">Informasi Perusahaan</a>
      <a class="link link-hover underline">Hanya di Netflix</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover underline">Pusat Media</a>
      <a class="link link-hover underline">Pusat Bantuan</a>
      <a class="link link-hover underline">Lowongan Kerja</a>
      <a class="link link-hover underline">Hubungi Kami</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover underline">Akun</a>
      <a class="link link-hover underline">Uji Kecepatan</a>
      <a class="link link-hover underline">Beli Kartu Hadiah</a>
    </nav>
  </div>
</footer>
